/*Responsive Page Style Sheet*/

.canvas {
	background: beige;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
}

.main-content-container {
	display: inline-block;
	max-width: 960px;
	text-align: center;
	background: peachpuff;
	padding-bottom: 16px;
}

/*NAV BAR*/

.navigation-container {

}

.navigation {
	background: salmon;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	color:	white;
}

.navigation ul {
	padding-left: 0px;
}

.navigation li {
	display: inline-block;
	padding: 10px 15px;
}


.text-content {
	text-align: initial;

}

.large-image {

}
.large-image img {
	width: 100%;
}

.small-images {

}

/*MEDIA QUERIES*/

/*MAX-WIDTH: 960px*/

@media all and (max-width: 960px){
	.main-content-container {
		padding-left: 20px;
		padding-right: 20px;
}
}

/*MAX-WIDTH: 460px*/

@media all and (max-width: 460px){
.navigation {

}
.navigation li {
	display: block;
	padding: 10px 15px;
	border-top: 1px solid lightgray;
}
.navigation li:first-of-type {
	border-top: none;
}
}







